body {

    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #eeeeee;

}

/*estilização não muito relevante pra atividade mas que já tava pronta*/
.hidden {
    display: none;
}

.interrogação {
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    animation: misterio 2s infinite ease-in-out;
}

/*animação misteriosa*/
@keyframes misterio {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }
}

#tooltip {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: #212121;
    color: #00ee69;
    padding: 10px 15px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    font-family: sans-serif;
}

#tooltip.show {
    opacity: 1;
    pointer-events: auto;
}

/*estilização da segunda demanda da atividade*/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #111111;
}

.flex-item {
    width: 60px;
    height: 60px;
    background-color: #430099;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* estilização da terceira demanda da atividade */

@media screen and (max-width: 768px) { /* Para telas de 768px ou menos */
  .flex-container {
    flex-direction: column; /* Itens em coluna para mobile */
    justify-content: center;
    align-items: stretch; /* Ocupa a largura total */
      }
    .flex-item {
        margin: 10px 0; /* Espaçamento entre os itens */
        width: 100%; /* Itens ocupam a largura total */
        }
}
